<div id="mySidenav" class="sidenav">
  <img src="assets/favicon.png" class="logo" alt="">

  <div routerLink="/admin/dashboard" routerLinkActive="active" class="nav-item"><b>Dashboard</b></div>
  <div routerLink="/admin/order" routerLinkActive="active" class="nav-item"><b>Order</b></div>
  <div routerLink="/admin/product" routerLinkActive="active" class="nav-item"><b>Products</b></div>
  <div routerLink="/admin/customer" routerLinkActive="active" class="nav-item"><b>Customer</b></div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br>


  <button 
    type="button" 
    class="logout-btn btn btn-dark" 
    [ngClass]="{'active-logout': isLogoutClicked}"
    (click)="logOut()"><b>Log Out</b>
  </button>
</div>

<div class="data-page">
  <h3>Hello {{userDetails.userName}}</h3>

  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
